DOTS_DSN=postgresql://postgres:admin@localhost:5432/dots?sslmode=disable
DOTS_GITHUB_CLIENT_ID=
DOTS_GITHUB_CLIENT_SECRET=
DOTS_GOOGLE_CLIENT_ID=
DOTS_GOOGLE_CLIENT_SECRET=
DOTS_TOKEN_SECRET=
DOTS_TOKEN_TTL=3600
DOTS_TOKEN_PREFIX=
